extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  p Dashboard Iframe
  img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Example_image.svg/600px-Example_image.svg.png")
  br
  p Reports
  ul
    li
      a(href="#") Daily
    li
      a(href="#") Weekly
    li
      a(href="#") Monthly
  p Some data
  ul
    li Title Length: 00
    li Description Length: 00